@import url('reset.css');

.container {
  display: grid;
  justify-content: stretch;
  padding-top: 0px;
}

.header, .footer {
  text-align: center;
}

.header {
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.body-left-section {
  background-color: orange;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 2rem;
}

.body-right-section {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 2rem;
}

.footer {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

h1, h2 {
  font-weight: 700;
  padding: 20px 0px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 24px;
}
